ignore-scripts=false
//localhost:4873/:_authToken="LqwcmPpQssDyJpYDjcWI/g=="
init.author.name=Makuza Mugabo Verite
init.author.email=mugaboverite@gmail.com
init.author.url="https://veritem.me/"
init.version=0.0.1
init.lisence=MIT
loglevel=warn
