ignore-scripts=false
init-author-name=Makuza Mugabo Verite
init-author-email=mugaboverite@gmail.com
init-author-url=https://veritem.me/
init-version=0.0.1
init-license=MIT
loglevel=warn
//registry.npmjs.org/:_authToken=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
init-author-name=Makuza Mugabo Verite
