ignore-scripts=false
init-author-name=Verite Mugabo
init-author-email=mugaboverite@gmail.com
init-author-url=https://veritemugabo.com
init-version=0.0.1
init-license=MIT
loglevel=warn
init-author-name=Makuza Mugabo Verite
